.idea
/bin
/test/bin
coverage/
.tilt-cache

# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

.github/repositories/

env.sh
vendor/
build/
*.tfstate*
.gltform*
.terraform/
.terraform.lock*
tf.log
